$font-stack: "Helvetica", sans-serif;
$primary-color: #5271ff;
$secondary-color: #ffffff;
$third-color: #dbdbdb;
$black-text: #0a0a0a;

* {
    font-family: $font-stack;
    box-sizing: border-box;
}

body {
    background-color: $secondary-color;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    background-color: $primary-color;
    border-bottom: 5px solid $third-color;
    
    img {
        height: 100%;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../assets/images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: $secondary-color;
    padding: 1em;
    height: 500px;

    button {
        font-size: larger;
        font-weight: bolder;
        padding: 0.4em 0.8em;
        background-color: $primary-color;
        color: $secondary-color;
        border: 0;
        border-radius: 4px;
    }

    button:hover {
        background-color: $third-color;
        color: $black-text;
    }
}

section.colors {
    display: grid;
    grid-template-columns: auto;
    gap: 1em;
    width: 90%;
    margin: 2em auto;

    article {
        background-color: $third-color;
        padding: 1em;
        border-radius: 4px;

        img {
            width: 100%;
        }
    }
}

section.benefits {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color: $primary-color;
    color: $secondary-color;
    padding: 1em 0;

    div {
        display: grid;
        grid-template-columns: auto;
        gap: 1em;

        figure {
            img {
                width: 25%;
            }

            figcaption {
                font-size: larger;
                font-weight: bolder;
            }
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 85%;
    margin: 1em auto;

    h2 {
        text-align: center;
    }

    input {
        height: 2em;
        background-color: $third-color;
        color: $black-text;
        border: 0;
        border-radius: 4px;
    }

    input:last-child {
        height: 3em;
        font-weight: bolder;
        background-color: $primary-color;
        color: $secondary-color;
    }

    input:last-child:hover {
        background-color: $third-color;
        color: $black-text;
    }
}