$font-stack: "Helvetica", sans-serif;
$primary-color: hotpink;
$secondary-color: pink;

* {
    font-family: $font-stack;
    box-sizing: border-box;
}

body {
    background-color: $secondary-color;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../assets/images/sample.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 1em;
    height: 500px;

    button {
        font-size: larger;
        font-weight: bolder;
        padding: 0.4em 0.8em;
        background-color: hotpink;
        border: 0;
        border-radius: 4px;
    }

    button:hover {
        background-color: whitesmoke;
    }
}

section.colors {
    display: grid;
    grid-template-columns: auto;
    gap: 1em;
    width: 90%;
    margin: 2em auto;

    article {
        background-color: white;
        padding: 1em;
        border-radius: 4px;

        img {
            width: 100%;
        }
    }
}

section.benefits {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color: $primary-color;
    padding: 1em 0;

    div {
        display: grid;
        grid-template-columns: auto;
        gap: 1em;
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 85%;
    margin: 1em auto;

    h2 {
        text-align: center;
    }

    input {
        height: 2em;
        border: 0;
        border-radius: 4px;
    }

    input:last-child {
        height: 3em;
        font-weight: bolder;
        background-color: hotpink;
    }

    input:last-child:hover {
        background-color: whitesmoke;
    }
}