$font-stack: "Helvetica", sans-serif;
$primary-color: hotpink;
$secondary-color: pink;

* {
    font-family: $font-stack;
    box-sizing: border-box;
}

body {
    background-color: $secondary-color;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
}

section {
    display: grid;
    grid-template-columns: auto;
    gap: 1em;
    width: 90%;
    margin: 0 auto;

    div {
        background-color: white;
        padding: 1em;
        border-radius: 4px;
    }
}

details {
    text-align: center;
    background-color: $primary-color;
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        div {
            img {
                width: 70%;
                margin: 0 auto;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }
}