* {
    box-sizing: border-box;
}

body {
    background-color: darkblue;
    margin: 0;
}

.header {
    background-color: lightgrey;
    border: 0.1em solid lightgrey;
    text-align: center;
}

.container {
    background-color: lightblue;
    border: 0.4em solid red;
}

.main-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-category {
    background-color: lightgrey;
    border: 0.1em solid darkblue;
}
.btn-category a {
    text-decoration: none;
}

.languages-bar {
    margin: 1.3em;
}

.sub-container {
    display: flex;
    flex-direction: row;
}

.color-selector {
    margin-top: 1.6em;
}

.colors-button {
    margin-top: 0.8em;
}

.footer {
    background-color: lightgrey;
    border: 0.1em solid lightgrey;
    bottom: 0;
    text-align: center;
}

#btn-js {
    background-color: #F0DB4F;
    color: #323330;
}
#btn-php {
    background-color: #787CB5;
    color: #000000;
}

img {
    width: 30%;
    margin: 1.3em;
}

label {
    font-size: 1.4rem;
}

button {
    font-size: 1.2rem;
    padding: 0.3em;
    margin-right: 0.3em;
}

span {
    color: purple;
}

#end {
    text-align: center;
    color: lightblue;
    font-size: 1.2rem;
}