.tweet {
  font-family: 'Ubuntu';
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.tweet-light,
.tweet-dark {
  transition: background-color 0.3s ease;
}

.tweet-light {
  background-color: white;
  border: 1px solid #CCCCCC;
}

.tweet-dark {
  background-color: #333333;
  border: 1px solid red;
}

.tweet-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tweet-profile {
  height: 60px;
  border-radius: 90px;
}

.tweet-text {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.tweet-name {
  font-weight: 700;
  margin: 0;
}

.tweet-username {
  color: grey;
  font-weight: 400;
}

.tweet-date {
  color: grey;
  font-weight: 400;
}

.tweet-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.tweet-content {
  margin: 0;
}

.tweet-image {
  margin: 1em 0;
  border-radius: 20px;
  align-self: center;
  width: 70%;
}

.tweet-reaction {
  display: flex;
  justify-content: space-evenly;
}

.tweet-input {
  background-color: inherit;
  color: grey;
  font-family: 'Arial';
  font-size: 1.4rem;
  padding: 0;
  border: 0;
  resize: none;
  height: 40px;
}

.tweet-input:focus {
  outline: none;
}

.tweet-submit {
  align-self: flex-end;
  background-color: #03a9f4;
  color: white;
  font-weight: 700;
  width: fit-content;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}