* {
    margin: 0;
}

body {
    font-family: sans-serif;
}

.header {
    text-align: center;
    color: lightgreen;
    background-color: darkgreen;
    padding: 2em 0em;
}

.search {
    background-color: darkslategrey;
    padding: 0.3em;
}

.search form {
    display: grid;
    grid-template-columns: 78% 20%;
    height: 2em;
    column-gap: 2%;
}

#searchbar {
    font-size: 1.2rem;
}

#searchbutton {
    border: 0.1em solid darkslategrey;
    background-color: whitesmoke;
    color: darkslategrey;
}

#searchbutton:hover {
    border: 0.1em solid whitesmoke;
    background-color: darkgreen;
    color: whitesmoke;
}

.main {
    background: whitesmoke url(assets/main.jpg) center;
    height: 300px;
}

.main-text {
    padding-top: 5.5em;
    text-align: center;
    color: whitesmoke;
}

.other {
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
}

.other-each:first-child {
    margin-top: 2em;
}

.other-each:last-child {
    margin-bottom: 2em;
}

.other-each {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    margin: 0.5em 1em;
}

.other-each img {
    width: 60%;
}

.other-each ul {
    color: darkslategrey;
    padding: 1em;
    font-size: 1.2rem;
}

.navbar {
    background-color: darkslategrey;
}

.navbar nav {
    display: block;
}

.navbar li {
    list-style: none;
    text-align: center;
    padding: 0.4em 0;
}

.navbar a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2rem;
}
.navbar a:hover {
    color: darkgreen;
}

.footer {
    text-align: center;
    padding: 1em 0;
    color: darkslategrey;
    background-color: whitesmoke;
}

.footer p span {
    color: darkgreen;
}

@media only screen and (min-width: 720px) {
    /*For tablets*/
    .search form {
        text-align: center;
    }

    .other {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
    .other-each img {
        width: 13rem;
        height: 18rem;
    }
}