* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: lightgreen;
}

.header {
    text-align: center;
    color: lightgreen;
    background-color: darkgreen;
    padding: 2em 0em;
}

.home {
    display: inline-block;
}

.search {
    position: sticky;
    top: 0;
    background-color: darkslategrey;
    padding: 0.3em;
}

.search form {
    display: grid;
    grid-template-columns: 78% 20%;
    height: 2em;
    column-gap: 2%;
}

#searchbar {
    font-size: 1.2rem;
}

#searchbutton {
    border: 0.1em solid darkslategrey;
    background-color: whitesmoke;
    color: darkslategrey;
}

#searchbutton:hover {
    border: 0.1em solid whitesmoke;
    background-color: darkgreen;
    color: whitesmoke;
}

.main {
    background: whitesmoke url(assets/main.jpg) center;
    height: 300px;
}

.main-text {
    width: 75%;
    padding-top: 5.5em;
    text-align: center;
    margin: 0 auto;
    color: whitesmoke;
}

.other {
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
}

.other-each:first-child {
    margin-top: 2em;
}

.other-each:last-child {
    margin-bottom: 2em;
}

.other-each {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    margin: 0.5em 1em;
}

.other-each img {
    max-width: 500px;
    width: 60%;
}

.other-each ul {
    color: darkslategrey;
    padding: 1em;
    font-size: 1.2rem;
}

.navbar {
    background-color: darkslategrey;
}

.navbar nav {
    display: block;
}

.navbar li {
    list-style: none;
    text-align: center;
    padding: 0.4em 0;
}

.navbar a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2rem;
}
.navbar a:hover {
    color: darkgreen;
}

.footer {
    text-align: center;
    padding: 1em 0;
    color: darkslategrey;
    background-color: whitesmoke;
}

.footer p span {
    color: darkgreen;
}

.all-plants {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 1em;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-gap: 0.8em;
    justify-content: center;
    align-content: space-evenly;
}

.each-plant img {
    width: 90%;
}

.form {
    display: inline-block;
    margin: 0 auto;
}

@media only screen and (max-width: 960px) {
    /*For tablets*/
    .main {
        background: whitesmoke url(assets/main.jpg) center;
    }
    .search form {
        text-align: center;
    }

    .other {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
    .other-each img {
        width: 13rem;
        height: 18rem;
    }
    
    .all-plants {
        width: 90%;
        max-width: 960px;
        margin: 0 auto;
        margin-top: 1em;
        text-align: center;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
        grid-gap: 0.8em;
        justify-content: center;
        align-content: space-evenly;
    }


}