.tweet {
  border: 1px solid #ccc;
  padding: 10px;
}

.tweet:hover {
  background-color: #f9f9f9;
}

.tweet-image {
  border-radius: 12px;
  max-width: 500px;
  width: 70%;
}

button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease;
}

button:focus {
  outline: none;
}

.app {
  display: flex;
  justify-content: center;
}

.content {
  margin-left: 250px; /* Same width as the sidebar */
  padding: 20px;
  /* width: calc(100% - 250px); */
  min-height: 100vh;
}