button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease;
}

button:focus {
  outline: none;
}

.app {
  display: flex;
  transition: background-color 0.3s, color 0.3s;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: #333333;
  color: white;
}

.content {
  margin-left: 500px;
  width: 1000px;
  padding: 20px;
  min-height: 100vh;
}