* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  background-color: lightgreen;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: whitesmoke url(./assets/leaves.jpg) center;
  height: 150px;
}

.home {
  display: inline-block;
  color: whitesmoke;
}

.search {
  position: sticky;
  top: 0;
  background-color: darkslategrey;
  padding: 0.3em;
}

.search form {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 2em;
  column-gap: 2%;
  margin: 0 auto;
}

#searchbar {
  font-size: 1.2rem;
  width: 720px;
}

#searchbutton {
  min-width: 100px;
  width: 100px;
  max-width: 100px;
  border: 0.1em solid darkslategrey;
  background-color: whitesmoke;
  color: darkslategrey;
}

#searchbutton:hover {
  border: 0.1em solid whitesmoke;
  background-color: limegreen;
  color: whitesmoke;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: whitesmoke url(./assets/main.jpg) center;
  height: 300px;
}

.main-text {

  width: 75%;
  text-align: center;
  margin: 0 auto;
  color: whitesmoke;
}

.others {
  display: grid;
  grid-template-columns: auto auto;
  background-color: lightgreen;
  margin: 2em 0;
}

.other-each {
  width: 90%;
  max-width: 720px;
  min-width: 240px;
  padding: 2em;
  border: 2px solid limegreen;
  margin: 1em auto;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 30% 30% 40%;
}

.other-each img {
  width: 90%;
}

.navbar {
  background-color: darkslategrey;
}

.navbar nav {
  display: block;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  padding-inline-start: 0;
  margin-block: 0;
}

.navbar li {
  list-style: none;
  text-align: center;
  padding: 0.4em 0;
}

.navbar a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: limegreen;
}

.footer {
  display: flex;
  justify-content: center;
  align-self: center;
  height: em;
  color: darkslategrey;
  background-color: whitesmoke;
}

.footer p span {
  color: darkgreen;
}

.all-plants {
  width: 80%;
  max-width: 1280px;
  margin: 2em auto;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-gap: 0.8em;
  justify-content: center;
  align-content: space-evenly;
}

.each-plant img {
  width: 90%;
}

.form {
  display: flex;
  justify-content: center;
  margin: 3em 0;
}

.form form {
  width: 60%;
  max-width: 480px;
  background-color: whitesmoke;
  padding: 2em;
  font-size: 1.2rem;
  border: 2px solid green
}

.form input {
  margin-bottom: 3em;
  font-size: 1rem;
}

input:required {
  border: 2px solid green;
  width: 80%;
  height: 2.5em;
}

input[value="Submit"] {
  width: 30%;
  height: 3em;
  background-color: limegreen;
  color: whitesmoke;
  border-width: 0;
}

input[value="Submit"]:hover {
  border: 2px solid darkslategrey;
}

.about {
  width: 90%;
  max-width: 960px;
  margin: 3em auto;
  color: darkslategrey;
  background-color: whitesmoke;
  padding: 2em;
}

.about img {
  width: 20%;
  min-width: 100px;
  max-width: 150px;
}

@media only screen and (max-width: 960px) {

  /*For tablets*/
  .main {
    background: whitesmoke url(./assets/main.jpg) center;
  }

  .search form {
    text-align: center;
  }

  .others {
    grid-template-columns: 100%;
  }

  .other-each {
    width: 80%;
    grid-template-columns: 50% 50%;
  }

  .other-each img {
    width: 80%;
  }

  .all-plants {
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-content: space-evenly;
  }

  .navbar ul {
    display: grid;
    grid-template-columns: auto auto;
  }

  .navbar li {
    padding: 0.3em 0;
  }
}

@media only screen and (max-width: 480px) {

  /*For Mobiles*/
  .others {
    grid-template-columns: 100%;
  }

  .other-each {
    width: 90%;
    grid-template-columns: 100%;
  }

  .other-each img {
    width: 70%;
  }

  .all-plants {
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: space-evenly;
  }

  .navbar ul {
    display: block;
    text-align: center;
  }

  .navbar li {
    padding: 0.2em 0;
  }
}