* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    background-color: lightskyblue;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: blue;
    color: white;
    text-align: center;
    margin: 0;
}
form {
    width: 80%;
    max-width: 480px;
    margin: 80px auto;
}

.form-field {
    background-color: lightgrey;
    padding: 1em;
    border-radius: 3px;
}

#name, #email {
    width: 100%
}

#age {
    width: 20%;
}

#form-submit {
    float: right;
    font-size: larger;
    font-weight: bolder;
    background-color: white;
    color: black;
    padding: 5px;
    border: 0;
    border-radius: 3px;
}

#form-submit:hover {
    background-color: blue;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    background-color: blue;
    color: white;
}

footer span {
    color: lightskyblue;
}

.party-image {
    width: 100px;
}